@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

.nunito {
    font-family: 'Nunito Sans', sans-serif;
}
#footer {
    position:absolute;
  bottom:0;
    background-color:lightgrey;
}